body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-itens {
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
}

header h1 {
   text-align: left; 
   color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 15%;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #31326d;
    border-radius: 10px;
    color: #121212;
}

h1, h2, h3 {
    color: rgb(168, 168, 168);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.learn-more-button {
    background-color: blue; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    
}

article {
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

footer {
    display: flex; 
    justify-content: space-around;
    background-color: #1f1f1f;
    text-align: left;
    padding: 300px 0%;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.evolution-title {
    margin: 300px 30px 20px 30px; 
    font-size: 4em;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

.fa {
    color: white; 
    font-size: 24px; 
    margin: 0 10px; 
    text-decoration: none;
}

.initial-image {
    text-align: right;
}

.description-text {
    color: #696969;
    font-family: "Poppins", sans-serif;
}

#timeline {
    display: flex;
    justify-content: center;
    margin: 3em;
}

.main-button {
    background-color: blue; 
    color: rgb(161, 161, 161); 
    padding: 20px 30px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.topic-section {
    padding: 10%;
}

.links {
    color: white;
    text-decoration: none;
}

.links:hover {

    color:rgb(12, 76, 194);
    transition: 0.5s;
}

.more-details {
    padding: 10% 20%;
    font-family: "Poppins", sans-serif;
    
}

.controller_detail_article{
    margin: 10% 20% 1% 20%;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #9b9999;
}

.post_main{
    padding: 1em;
    margin: 10% 20% 1% 20%;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #9b9999;
    background-color: #292929;
}

.main-controller-image {
    max-width: 70%;
}

.login-button {
    background-color: rgb(23, 23, 77); 
    color: white; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 0.8em;
}

.post_button {
    background-color: rgb(23, 23, 77); 
    color: white; 
    padding: 1em 2em; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

.new_post_button {
    background-color: rgb(223, 120, 35); 
    color: white; 
    padding: 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 0.8em;
}

.default_form {
    display: block;
    text-align: left;
    margin: 0% 25%;
}

.new_post_labels {
    display: block;
    font-family: "Poppins", sans-serif;
}