<footer id="footer">
    <div>
        <h1>ControlX</h1>
        <div>
            <h3>Address</h3>                
            <p>Somewhere in US - Bandeirantes</p>

            <p>&copy; 2025 Gaming Controls Blog | developed by João Salgueiro</p>

        </div>
    </div>
    
    <div>
        <h3>Contact</h3>
        <p> <a href="mailto:contact@controlx.com" class="links">contact@controlx.com</a></p>
        <p><a href="tel:+123456789" class="links">+55 41 99999-0999</a></p>
    </div>

    <div class="social-medias">
        <h3>Follow Us</h3>
        <p><a href="#" class="fa fa-facebook"></a></p>
        <p><a href="#" class="fa fa-twitter"></a></p>
        <p><a href="#" class="fa fa-instagram"></a></p>
    </div>

</footer>