{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

{% include "partials/header.html" %}

<body>
    <div class="more-details">
        <h1>Learn More</h1>
        <p>Gaming controllers are more than just input devices; they are the tangible connection between players and the virtual worlds they inhabit. This page chronicles the remarkable journey of controller development, highlighting the pivotal moments that have revolutionized gameplay. Discover how advancements in technology and design have influenced the evolution of gaming, and explore the legacy of controllers that have become iconic symbols of gaming culture</p>
        <a href="/" class="links">Back to Home</a>
    </div>
    

    {% include "partials/footer.html" %}

</body>
</html>