{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

{% include "partials/header.html" %}

<body>
    {%for post in posts %}
    <div class="post_main">
        <div class="profile_header">
            <img src="{{ post.user.profile.profile_picture }}" style="width: 40px; border-radius: 50%;" alt="Foto de perfil">
            <a style="margin-left: 0.8em; margin-right: 0.4em;">{{ post.user.username }}</a>
        </div>
        <h1>{{ post.title }}</h1>
        <h2>{{ post.post_time }}</h2>
        {% if post.image %}
            <div>
                <img class="main-controller-image" src="{{ post.image.url }}" style="width: 25em;" alt="{{ posts.title }}">
            </div>
        {%endif%}
        <p>{{ post.description }}</p>
    </div>
    {% empty %}
    <p>Nenhum post encontrado.</p> -->
    {%endfor %}

    

    {% include "partials/footer.html" %}

</body>
</html>